body {
  margin: 0;
 /* background-Image: url('vinTracker.png');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center center; */

}


.font-link{
  font-family: 'Sarina', cursive;
}


.font-link2{
  font-family: 'Inconsolata', monospace;
}

a:link {
  text-decoration: none
}

a:visited {
  text-decoration: none;
}


a:hover {
  color: red;
  font-weight: bold;
}

.logOutButton:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

ul {
  gap: 30px;
  padding-inline-start: 20px;
}


li {
  list-style-type: none;
  margin: auto 20px;
  font-size: 110%;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px
}
